{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 style="text-align: center;font-family: 'Calistoga', cursive;"><span style="color:#ffffff;">ACE OF INITIATIVE-Endpoints</h3><hr>
        <div class="row" >
            <div class="col-lg-2" >

            </div>
            <div class="col-lg-8" >
                <div class="card">

                    <div class="hero-image" >
                        <div class="hero-text" style="justify-self: center;">
                            <h1 style="font-family: 'Calistoga', cursive;color:white;">ACE OF INITIATIVE</h1><br>
                            <h4 style="font-weight: bold;color:white">END POINTS</h4>
                            <a class="btn btn-default btn-primary " href="api/project/?format=json " target="_blank">PROJECT API</a><br><br>
                            <a  class="btn btn-default btn-primary"  href="api/profile/?format=json" target="_blank">PROFILE API</a><br><br>
                        </div>
                    </div>
                </div><br>

            </div> 
            <div class="col-lg-2" >

            </div>   
        </div>
    </div>
    <br><br>
{%endblock%}